.container {
  padding: .5rem;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex: 1;
}

.createButton {
  padding: .25rem 1rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.createButton:hover {
  background-color: #2563eb;
}
